---
type Item = {
    title: string,
    href?: string,
    items?: any,
}

interface Props {
    items: Item[],
    title: string,
    baseClassList?: string,
    replaceClassList?: string,
}

const { items, title, baseClassList, replaceClassList } = Astro.props as Props;
---

<details class:list={baseClassList}>
    <summary>{title}</summary>
    <ul class="w-max">
        {items.map((item) => (
            Array.isArray(item.items) ? 
            (
                <li class="w-full">
                    <Astro.self items={item.items} title={item.title} class:list={replaceClassList} />
                </li>
            ) :
            (
                <li class="w-full"><a href={item.href}>{item.title}</a></li>
            )
        ))}
    </ul>
</details>