---
type Item = {
    title: string,
    href?: string,
    items?: any,
}

interface Props {
    items: Item[],
    title: string,
    baseClassList?: string,
    replaceClassList?: string,
}

const { items, title, baseClassList, replaceClassList } = Astro.props as Props;
---

<details class="z-100">
    <summary>{title}</summary>
    <ul>
        {items.map((item) => (
            Array.isArray(item.items) ? 
            (
                <li>
                    <Astro.self items={item.items} title={item.title} />
                </li>
            ) :
            (
                <li><a href={item.href}>{item.title}</a></li>
            )
        ))}
    </ul>
</details>