---
import Menu from '../components/Menu.astro';

type Item = {
    title: string,
    href?: string,
    items?: any,
}

interface Props {
    items: Item[],
}


const { items } = Astro.props as Props;
---

<nav class="navbar bg-base-200 shadow-sm p-5 !fixed !top-0 !left-0 z-50">
  <div class="navbar-container w-full h-full flex items-center">
    <div class="navbar-start">
      <div class="dropdown dropdown-hover">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          {items.map((item) => (
              Array.isArray(item.items) ?
              (
                  <li>
                      <Menu items={item.items} title={item.title} baseClassList="dropdown dropdown-start" replaceClassList="dropdown" />
                  </li>
              ) :
              (
                  <li><a class="h-full w-full" href={item.href}>{item.title}</a></li>
              )
          ))}
        </ul>
      </div>
      <a class="btn btn-ghost lowercase text-xl font-[Outfit] font-[700]">Alien Insect</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 font-[Orbiter]">
      {items.map((item) => (
          Array.isArray(item.items) ?
          (
              <li>
                  <Menu items={item.items} title={item.title} baseClassList="dropdown dropdown-base" replaceClassList="dropdown dropdown-inside" />
              </li>
          ) :
          (
              <li><a class="h-full flex justify-center" href={item.href}>{item.title}</a></li>
          )
      ))}
      </ul>
    </div>
    <div class="navbar-end">
      <a href="/links/time" class="btn btn-outline h-10 w-10 rounded-full btn-circle">
        <i class="fa-light fa-clock"></i>
      </a>
    </div>
  </div>
</nav>